/*COLOR_GUIDE*/
/*
#881E00		#searchbar:background-color								brown
			button:hover:color
			#sidePaneValue:button:hover:color
			#pkgViewMainResultButton:button:hover:color
			#catResultButton:button:color
			#catResultButton:button:hover:color
#E2E2E2		#searchbar:color										1 gray(lighest)
			#sidepane:background-color
			#pkgViewMainResult:background-color
			#sidePaneValue:button::background-color
#D2D2D2		#catResultButton:button:background-color				2 gray
#CACACA		#pkgViewMainResult:hover:background-color				3 gray
			#sidePaneValue:button:hover:background-color
			#catResultButton:button:hover:background-color
#C1C1C1		#sidepane:border-right:solid							4 gray
			#pkgViewMainResult:border-bottom:solid
gray		#pkg:background-color									5 gray
			button:hover:background-color
			#pkgViewMainResultButton:button:hover:background-color
#737373		button:border-color										6 gray(darkest)
			#pkgViewMainResultDescription:color
black		button:background-color
			#sidePaneValue:button:color
			#pkgViewMainResultButton:button:background-color
#180D0D		#catText:color											red black
orange		button:color
			#pkgViewMainResultButton:button:color
*/


/*
#searchbar{
background-color:#881E00;
color: #E2E2E2;
background-size:10px 30px;
height: 6%;
}


*/
#searchbar{
width: 162px;
float: left;
}

#searchbox{
width: 162px;
float: right;
}

#pkg {
background-color:gray;
float: left;
width: 140px;
height: 22px;
border-width:0px;
}

#searchButton{
border-width:0px;
width: 22px;
height: 22px;
float: right;
background:url('../images/search.gif');
}

#searchButton:hover{
background:url('../images/loader.gif');
}

#pkgview{
height: 95%;
}



#sidepane{
width: 20%;
height: 100%;
float: left;
background-color:#E2E2E2;
border-right: solid #C1C1C1;
border-width:1px;

}

.sidePaneValue{
font-size: 20px;
}


#pkgviewResultSet{
margin: 0 0  0 1%;
width: 69%;
float: left;
}

#pkgViewMain{
width: 80%;
float: right;
}

#pkgViewMainResult{
border-bottom: solid #C1C1C1;
border-width:1px;
height: 9.5%;
background-color:#E2E2E2;
}
#pkgViewMainResult:hover{
background-color:#CACACA;
}
#pkgViewMainResultContent{
width: 78%;
float: left;
}
#pkgViewMainResultButton{
width: 20%;
float: right;
}

#updown{
width: 8%;
margin: 1% 1% 1% 1%;
float: right;
}

#updown1{
height: 16%;
}

#updown2{
height: 70%;
}

#updown3{
height: 12%;
}

button {
font-weight: bold;
border-width: 1px;
border-color: #737373;
border-style:solid;
width: 100%;
background-color:black;
color: orange;
cursor: pointer;
}

button:hover{
background-color:gray;
color: #881E00;
}


.sidePaneValue > button {
color: black;
text-align:  left;
font-weight: bold;
margin: 0;
background-color:#E2E2E2;
border-width: 0;
}

.sidePaneValue > button:hover {
background-color:#CACACA;
color: #881E00;
}

#pkgViewMainResultButton > button {
margin: 8% 0  0 0;
width: 120px;
height: 20px;
background-color:black;
color: orange;
}

#pkgViewMainResultButton > button:hover{
background-color:gray;
color: #881E00;
}

#pkgViewMainResultContent{
margin: 1% 0  0 0;
}

#pkgViewResultSet {

}

#pkgViewMainResultDescription{
color: #737373;
}

#catResultButton > button {
height:100%;
width:100%;
background-color:#D2D2D2;
border-width: 0;
color: #881E00;
vertical-align:text-top;
}

#catResultButton > button:hover{
background-color:#CACACA;
color: #881E00;
}

img{
url(images/no.png);
width:80%;
height:80%;
}

img:hover{
width:82%;
height:82%;
}

#cat1{
float: left;
width:50%;
height:30%;
}

#cat2{
float: right;
width:50%;
height:30%;
}

#catA{
margin: 12% 6% 11% 6% ;
float: left;
width:38%;
height:77%;
}

#catB{
margin: 12% 6% 11% 5% ;
float: right;
width:39%;
height:77%;
}

#catText{
height:100%;

color: #180D0D;
}

#notifier{
background-color:black;
color:gray;
height:0px;
}


#notifierBody{
float:left;
width:90%;
padding: 1% 0 0 1%;
}

#notifierClose{
float:right;
width:5%;
}

#notifierClose > button {
background-color:black;
color:gray;
height:20px;
width:20px;
margin:5px 5px 0 0;
float:right;
border-width: 0;
font-weight: bold;
}

#notifierClose > button:hover {
color:white;
font-weight: bolder;
}
}














