body
{
    background: #e5ecf9;
    margin: 0 0;
    padding: 5em 50em 5em 5em;
}



/* page container */
div.container
{
	background: #fff;
	position: relative;	
	border: solid 1px #999;
	padding: 2em 2em;
}

/* form elements */
input, label
{
  margin: .5em .5em;
  padding: .5em .5em;  
}