/* Banner */
div#banner
{
	background:url(/images/banner.jpg);
	background-repeat:no-repeat;
	border: solid 1px #999;
	margin: 0 auto 0;	
	position: relative;
}

/* page container 
div.container
{	
	background: url(/images/gradient.jpg);
	background-repeat:no-repeat;
	background-position: 50% 0%;
	position: relative; 
	height: 800px; width: 800px;	
	border: solid 1px #999;	
}
*/

/* main content of the page 
div.maincontent
{		
	border: solid 1px #999;	
}
*/

/* Back navigation buttons */
a.navi_btn
{	
	padding: 0.4em 0.6em;
	border: solid 1px #666;		
}

/* JQ NAVI-MENU 
#topnavi 
{	
	border:solid 2px red;	
}
ul.navigation {
	border:solid 2px #afa;	
	margin: 0 0;
	position: relative;
	list-style: none;
	padding: 0 0;	
	margin: ;
	float: left;
	width: 800px;
	background: #222;
	font-size: 1.2em;
	background: url(/images/topnav_bg.gif) repeat-x;
}
ul.navigation li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; 
}
ul.navigation li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.navigation li a:hover{
	background: url(/images/topnav_hover.gif) no-repeat center top;
}
ul.navigation li span { 
	width: 17px;
	height: 35px;
	float: left;
	background: url(/images/subnav_btn.gif) no-repeat center top;
}
ul.navigation li span.subhover {background-position: center bottom; cursor: pointer;} 
ul.navigation li ul {
	list-style: none;
	position: absolute; 
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}
ul.navigation li ul li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; 
	border-bottom: 1px solid #444; 
	clear: both;
	width: 170px;
}
html ul.navigation li ul li a {
	float: left;
	width: 145px;
	background: #333 url(/images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.navigation li ul li a:hover { 
	background: #222 url(/images/dropdown_linkbg.gif) no-repeat 10px center; 
}
*/