#searchbar{
background-image:url("../images/search.png");
background-repeat:repeat-x;
background-size:10px 30px;
height: 30px;
}

#sidepane{
width: 20%;
float: left;
}

#pkgviewmain{
width: 80%;
float: right;
}

#searchbardir{
width: 30%;
float: left;
}

#searchbox{
width: 50%;
float: middle;
text-align: right;
}

#searchimg{
width: 10%;
float: right;

}

#pkg {
/*background-color:transparent; /*important*/
background-color:gray;
}

#sidepane{
border-color: green;
border-right:12px;
}

