#searchbar{
background-color:#881E00;
color: #D8D8D8;
background-size:10px 30px;
height: 6%;
}
#searchbardir{

width: 30%;
float: left;
margin: 3px 0 0 3%;
}
#searchbox{
width: 50%;
float: right;
margin: 3px 3% 0 0;
}
/*
#searchimg{
width: 10%;
float: right;
}
*/

#pkgview{
height: 95%;
}

#pkg {
/*background-color:transparent; /*important*/
background-color:gray;
float: right;
}

#sidepane{
width: 20%;
height: 100%;
float: left;
background-color:#737373;
}

#sidePaneValue{
font-size: 20px;
}


#pkgviewResultSet{
margin: 0 0  0 1%;
width: 69%;
float: left;
}
#pkgViewMainResult{
border-bottom: solid #881E00;
border-width:1px;
height: 9.5%;
}
#pkgViewMainResultContent{
width: 78%;
float: left;
}
#pkgViewMainResultButton{
width: 20%;
float: right;
}

#updown{
width: 8%;
margin: 1% 1% 1% 1%;
float: right;
}

#updown1{
height: 16%;
}

#updown2{
height: 70%;
}

#updown3{
height: 12%;
}

button {
font-weight: bold;
border-width: 1px;
/*border-color: #737373;*/
border-color: #881E00;
border-style:solid;
width: 100%;
background-color:#A3A6A3;
color: black;
}

#sidePaneValue > button {
text-align:  left;
font-weight: bold;
margin: 0;
}

#pkgViewMainResultButton > button {
margin: 8% 0  0 0;
width: 120px;
height: 20px;
}

#pkgViewMainResultContent{
margin: 1% 0  0 0;
}

#pkgViewResultSet {

}

#pkgViewMainResultDescription{
color: #737373;
}



