#searchbar{
background-color:#881E00;
color: #D8D8D8;
background-size:10px 30px;
height: 6%;
}
#searchbardir{

width: 30%;
float: left;
margin: 3px 0 0 3%;
}
#searchbox{
width: 50%;
float: right;
margin: 3px 3% 0 0;
}
/*
#searchimg{
width: 10%;
float: right;
}
*/

#pkgview{
height: 95%;
}

#pkg {
/*background-color:transparent; /*important*/
background-color:gray;
float: right;
}

#sidepane{
width: 20%;
height: 100%;
float: left;
background-color:#D8D8D8;
border-right: solid #C1C1C1;
border-width:1px;

}

#sidePaneValue{
font-size: 20px;
}


#pkgviewResultSet{
margin: 0 0  0 1%;
width: 69%;
float: left;
}
#pkgViewMainResult{
border-bottom: solid #C1C1C1;
border-width:1px;
height: 9.5%;
background-color:#D8D8D8;
}
#pkgViewMainResult:hover{
background-color:#CACACA;
}
#pkgViewMainResultContent{
width: 78%;
float: left;
}
#pkgViewMainResultButton{
width: 20%;
float: right;
}

#updown{
width: 8%;
margin: 1% 1% 1% 1%;
float: right;
}

#updown1{
height: 16%;
}

#updown2{
height: 70%;
}

#updown3{
height: 12%;
}

button {
font-weight: bold;
border-width: 1px;
border-color: #737373;
border-style:solid;
width: 100%;
background-color:black;
color: orange;
cursor: pointer;
}

button:hover{
background-color:gray;
color: #881E00;
}


#sidePaneValue > button {
color: black;
text-align:  left;
font-weight: bold;
margin: 0;
background-color:#D8D8D8;
border-width: 0;
}

#sidePaneValue > button:hover {
background-color:#CACACA;
color: #881E00;
}

#pkgViewMainResultButton > button {
margin: 8% 0  0 0;
width: 120px;
height: 20px;
background-color:black;
color: orange;
}

#pkgViewMainResultButton > button:hover{
background-color:gray;
color: #881E00;
}

#pkgViewMainResultContent{
margin: 1% 0  0 0;
}

#pkgViewResultSet {

}

#pkgViewMainResultDescription{
color: #737373;
}

#catResultButton > button {
height:100%;
width:100%;
background-color:#D2D2D2;
border-width: 0;
color: #881E00;
vertical-align:text-top;
/*background-image: url(http://localhost/vos/my/client_root/client/view/images/loader.gif);
background-repeat: no-repeat;
vertical-align: middle;*/
}

#catResultButton > button:hover{
background-color:#CACACA;
color: #881E00;
}

img{
url(images/no.png);
width:80%;
height:80%;
}

img:hover{
width:82%;
height:82%;
}

#cat1{
float: left;
width:50%;
height:30%;
}

#cat2{
float: right;
width:50%;
height:30%;
}

#catA{
margin: 12% 6% 11% 6% ;
float: left;
width:38%;
height:77%;
}

#catB{
margin: 12% 6% 11% 5% ;
float: right;
width:39%;
height:77%;
}

#catText{
height:100%;

color: #180D0D;
}

