#searchbar{
background-image:url("../images/search.png");
background-repeat:repeat-x;
background-size:10px 30px;
height: 30px;
}
#searchbardir{
width: 30%;
float: left;
margin: 3px 0 0 3%;
}
#searchbox{
width: 50%;
float: right;
margin: 3px 3% 0 0;
}
/*
#searchimg{
width: 10%;
float: right;
}
*/

#pkg {
/*background-color:transparent; /*important*/
background-color:gray;
float: right;
}

#sidepane{
width: 20%;
float: left;
}

#sidePaneValue{
height: 8%;
font-size: 20px;
background-color:#9DEDF2;
}


#pkgviewmain{
width: 70%;
float: left;
}

#updown{
width: 10%;
float: right;
}

#updown1{
height: 20%;
}

#updown2{
height: 60%;
}

#updown3{
height: 20%;
}


